---
import "./base.css";
const isProduction = import.meta.env.MODE === "production";
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Cliqshot Photobox</title>
    {
      isProduction && (
        <script
          async
          src="https://analytics.bitbetter.de/script.js"
          data-website-id="f45ca5ed-b81c-4201-ab5d-245202f7c4c7"
        />
      )
    }
  </head>
  <body>
    <main>
      <h1 class="text-5xl">Hello, React!</h1>
    </main>
  </body>
</html>
